@import "../../../sass/_variables";

:host {

  width: 286px;
  height: 381px;
  background-color: $white;
  margin: 10px;

  .img-container {
    width: 100%;
    height: 160px;
    margin-bottom: 22px;
  }

  .photo-style {
    width: 286px;
  }

  .project-name {
    height: 43px;
    margin: 0 13px 10px 13px;
  }

  .progress-bar {
    width: calc(100% - 26px);
    height: 6px;
    border-radius: 3px;
    margin:  0 13px 10px 13px;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background-color: $green_light;

  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: $green;
  }

  .amount-container {
    display: flex;
    justify-content: space-between;
    margin: 0 13px 10px 13px;
  }

  .goal, .availAmount {
    color: $green;
    h4 {
      margin-bottom: 4px;
    }
  }

  .availAmount {
    float: right;
  }

  .invest-container {
    height: 30px;
    margin: 0 13px 5px 13px;
    display: flex;
    justify-content: center;
  }

  .minus, .plus {
    line-height: 28px;
  }

  .minus, .plus:hover {
    cursor: pointer;
  }

  .invest-inp {
    width: 80px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    border: none;
    margin: 0 15px;
  }

  .invest-btn {
    width: 260px;
    height: 36px;
    margin: 0 13px;
    border-radius: 18px;
    border: none;
    outline:none;
    background-color: $green;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Gothic A1', sans-serif;
  }

  .invest-btn:hover {
    cursor: pointer;
  }

  .invest-btn:active {
    opacity: 80%;
  }

  #invAmount {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: $green;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .btn-disabled {
    background-color: $grey_dark;
  }

  .btn-disabled:hover {
    cursor: not-allowed;
  }
}
