:host {

  width: calc(100% - 80px);
  height: calc(100% - 186px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 40px;
  position: relative;
  top: 106px;

}
